

  <div class="row">
  
    
    <div class="span12">

			  <div id="container">


	 <div class="item_feed">


	
<ul id="<%= feed_me_item.id %>">
<span class="gravatar" align="left">
			  <% if feed_me_item.user.avatar.present? %>
	<p>	    <%= link_to image_tag(feed_me_item.user.avatar,  :size => "52x52" ), feed_me_item.user%></p>
			<%else%>
<p><%= link_to gravatar_for(feed_me_item.user), feed_me_item.user %></p>
  <%end%>
</span>
 <span class="user" align="left">
 <%= link_to feed_me_item.user.name, feed_me_item.user %>
  </span>
  <span class="timestamp" align="left">
	   <p> Комментариев(<%= feed_me_item.comments.count %>)
    </span>
	
<p>
<span  class="title" aligh="center"><%= truncate(feed_me_item.content, lenght: 80) %></span></p>
 <% if feed_me_item.image_url.present? %>
 <span class="img_media"><%= link_to  image_tag(feed_me_item.image_url,   :size => "450x450"), feed_me_item %></span>
<% end %>
 <% if feed_me_item.video_url.present? %>
 <span class="img_media"><%= link_to  youtube_video_thumb(feed_me_item.video_url), feed_me_item %></span>
<% end %>
  <ul class="timestamp" align="center">

   <%= time_ago_in_words(feed_me_item.created_at) %> назад
  </ul>

 </ul>
     </div>


     </div>
	  
	  
    </div>
  </div>


















