<%= form_for @mypost, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Описание вашего поста..." %>
  </div>
  
 <p><%= f.text_field :video_url, placeholder: "http://Ссылка на видео" %></p>
<p><%= f.text_field :image_url, placeholder: "http://Ссылка на картинку" %></p>
 <p> <%= f.text_field :post_url, placeholder: "http://Ссылка на пост" %></p>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>